<div class="container mx-auto flex flex-col items-center px-6 md:flex-row">
  <div class="mt-10 mb-10 flex justify-center md:mt-0 md:mb-0 md:w-1/2">
    <div class="relative">
      <div class="h-64 w-64 overflow-hidden rounded-full border-4 border-indigo-500 shadow-xl md:h-80 md:w-80">
        <img id="about-image" class="h-full w-full object-cover" />
      </div>
      <div
        class="absolute -right-4 -bottom-4 rounded-lg bg-indigo-400 px-4 py-2 text-black shadow-lg dark:bg-indigo-600 dark:text-white">
        <span class="font-semibold">
          Robotics Enthusiast
          <br />
          Researcher & Engineer
        </span>
      </div>
    </div>
  </div>

  <div class="mt-10 md:w-1/2 md:pl-12">
    <h1 class="mb-4 text-4xl font-bold md:text-5xl">
      Hi, I'm
      <span
        id="name"
        class="bg-gradient-to-r from-indigo-600 to-indigo-400 bg-clip-text text-transparent dark:from-indigo-600 dark:to-indigo-400"></span>
    </h1>
    <div
      class="relative mb-10 rounded-lg bg-indigo-400 px-4 py-4 text-center text-sm text-black shadow-lg dark:bg-indigo-600 dark:text-white">
      <span class="font-semibold">
        Building Intelligence for Robotics via Foundation Models and Learning from Demonstration
      </span>
    </div>

    <div class="flex space-x-4">
      <a
        href="https://github.com/VismayVakharia/"
        target="_blank"
        rel="noopener noreferrer"
        class="group social-link relative text-2xl text-gray-700 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-indigo-400">
        <i class="fab fa-github"></i>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 min-w-max -translate-x-1/2 transform rounded-lg bg-gray-800 p-2 text-center text-xs text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 dark:bg-gray-700">
          Github
        </span>
      </a>
      <a
        href="https://www.linkedin.com/in/vismay-vakharia/"
        target="_blank"
        rel="noopener noreferrer"
        class="group social-link relative text-2xl text-gray-700 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-indigo-400">
        <i class="fab fa-linkedin"></i>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 min-w-max -translate-x-1/2 transform rounded-lg bg-gray-800 p-2 text-center text-xs text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 dark:bg-gray-700">
          Linkedin
        </span>
      </a>
      <a
        href="https://scholar.google.com/citations?hl=en&user=Owl4GugAAAAJ"
        target="_blank"
        rel="noopener noreferrer"
        class="group social-link relative text-2xl text-gray-700 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-indigo-400">
        <i class="fas fa-graduation-cap"></i>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 min-w-max -translate-x-1/2 transform rounded-lg bg-gray-800 p-2 text-center text-xs text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 dark:bg-gray-700">
          Google Scholar
        </span>
      </a>
      <a
        href="https://orcid.org/0009-0001-3400-5534"
        target="_blank"
        rel="noopener noreferrer"
        class="group social-link relative text-2xl text-gray-700 hover:text-indigo-600 dark:text-gray-300 dark:hover:text-indigo-400">
        <i class="fas fa-brands fa-orcid"></i>
        <span
          class="pointer-events-none absolute bottom-full left-1/2 mb-2 min-w-max -translate-x-1/2 transform rounded-lg bg-gray-800 p-2 text-center text-xs text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 dark:bg-gray-700">
          Orcid
        </span>
      </a>
    </div>

    <p class="mt-5 mb-8 text-gray-600 dark:text-gray-400">
      I am a
      <span class="font-bold">Robotics Scientist</span>
      currently based in Bengaluru, building the next generation of intelligence for robotic systems. My approach is
      rooted in a strong blend of Mechanical Engineering (IIT Gandhinagar) and Computer Science (Georgia Tech), which
      allows me to effectively integrate software (AI, Control Systems, ROS) with hardware to create functional, smart
      machines.
    </p>
    <p class="mt-8 mb-8 text-gray-600 dark:text-gray-400">
      My current research focuses on leveraging Foundation Models, Learning from Demonstration, and Deep Reinforcement
      Learning to solve complex, real-world tasks with dual-arm mobile manipulators. The goal is to create autonomous
      systems that are more intuitive, adaptable, and capable. Outside of my work, I enjoy solving twisty puzzles,
      exploring math concepts, and playing board games.
    </p>

    <div class="mt-8 flex space-x-4">
      <a
        href="#contact"
        class="flex items-center rounded-lg bg-indigo-400 px-6 py-3 text-black transition-colors duration-300 hover:bg-indigo-300 dark:bg-indigo-600 dark:text-white dark:hover:bg-indigo-700">
        <i class="fas fa-envelope mr-2"></i>
        Contact Me
      </a>
      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        id="about-resume"
        class="flex items-center rounded-lg border border-indigo-400 px-6 py-3 text-indigo-600 transition-colors duration-300 hover:bg-indigo-400 hover:text-black dark:border-indigo-600 dark:text-indigo-400 dark:hover:bg-indigo-600 dark:hover:text-white">
        <i class="fas fa-download mr-2"></i>
        Download CV
      </a>
    </div>
  </div>
</div>
