<div
  class="group relative flex h-10 w-10 overflow-hidden rounded-full bg-gray-700 px-2 py-2 transition-all duration-300 ease-in-out hover:w-59">
  <div class="inline-block">
    <svg
      id="theme-toggle"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="var(--color-foreground)"
      class="h-6 w-6">
      <path
        d="M12 22C6.49 22 2 17.51 2 12S6.49 2 12 2s10 4.04 10 9c0 3.31-2.69 6-6 6h-1.77c-.28 0-.5.22-.5.5 0 .12.05.23.13.33.41.47.64 1.06.64 1.67A2.5 2.5 0 0 1 12 22zm0-18c-4.41 0-8 3.59-8 8s3.59 8 8 8c.28 0 .5-.22.5-.5a.54.54 0 0 0-.14-.35c-.41-.46-.63-1.05-.63-1.65a2.5 2.5 0 0 1 2.5-2.5H16c2.21 0 4-1.79 4-4 0-3.86-3.59-7-8-7z" />
      <circle cx="6.5" cy="11.5" r="1.5" />
      <circle cx="9.5" cy="7.5" r="1.5" />
      <circle cx="14.5" cy="7.5" r="1.5" />
      <circle cx="17.5" cy="11.5" r="1.5" />
    </svg>
  </div>

  <div
    id="color-swatches"
    class="ml-2 flex gap-2 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
    <button
      class="hover:border-background h-6 w-6 rounded-full border-2 border-gray-700 bg-gradient-to-r from-amber-400 to-amber-600"
      data-color="amber"></button>
    <button
      class="h-6 w-6 rounded-full border-teal-500 bg-gradient-to-r from-teal-400 to-teal-600"
      data-color="teal"></button>
    <button
      class="h-6 w-6 rounded-full border-sky-500 bg-gradient-to-r from-sky-400 to-sky-600"
      data-color="sky"></button>
    <button
      class="h-6 w-6 rounded-full border-indigo-500 bg-gradient-to-r from-indigo-400 to-indigo-600"
      data-color="indigo"></button>
    <button
      class="h-6 w-6 rounded-full border-purple-500 bg-gradient-to-r from-purple-400 to-purple-600"
      data-color="purple"></button>
    <button
      class="h-6 w-6 rounded-full border-rose-500 bg-gradient-to-r from-rose-400 to-rose-600"
      data-color="rose"></button>
  </div>
</div>
