<div class="container mx-auto px-6">
  <h2 class="section-title mb-16 text-center text-3xl font-bold">Education & Experience</h2>

  <div class="flex flex-col md:flex-row">
    <div class="mb-12 md:mb-0 md:w-1/2 md:pl-8">
      <h3 class="mb-6 flex items-center text-2xl font-semibold">
        <i class="fas fa-graduation-cap mr-2 text-indigo-500"></i>
        &nbsp;Education
      </h3>

      <div class="pl-3">
        <div id="timeline-item" class="relative border-l-2 border-indigo-500 pb-8 pl-8">
          <div class="absolute top-0 -left-3 h-6 w-6 rounded-full bg-indigo-500"></div>
          <div class="mb-4">
            <span
              class="mb-2 inline-block rounded bg-indigo-400 px-3 py-1 text-sm text-black dark:bg-indigo-600 dark:text-white">
              2022 - 2023
            </span>
            <h4 class="text-xl font-medium">
              <span class="text-xl font-medium">Master of Science in</span>
              <span class="text-xl text-indigo-500 lg:font-bold">Computer Science</span>
            </h4>
            <p class="text-gray-600 dark:text-gray-400">Georgia Institute of Technology, USA</p>
            <p class="mt-2 text-gray-700 dark:text-gray-300">Specialized in Interactive Intelligence</p>
          </div>
        </div>

        <div id="timeline-item" class="relative border-l-2 border-indigo-500 pl-8">
          <div class="absolute top-0 -left-3 h-6 w-6 rounded-full bg-indigo-500"></div>
          <div>
            <span
              class="mb-2 inline-block rounded bg-indigo-400 px-3 py-1 text-sm text-black dark:bg-indigo-600 dark:text-white">
              2014 - 2018
            </span>
            <div class="flex">
              <h4 class="text-xl font-medium">
                <span class="text-xl font-medium">Bachelor of Technology in</span>
                <span class="text-xl text-indigo-500 lg:font-bold">Mechanical Engineering</span>
              </h4>
            </div>
            <p class="text-gray-600 dark:text-gray-400">Indian Institute of Technology Gandhinagar, India</p>

            <div class="relative mt-4 ml-4 border-l-2 border-dashed border-indigo-500 pl-8">
              <div class="absolute top-0 -left-3 h-6 w-6 rounded-full bg-indigo-500"></div>
              <div class="mb-4">
                <span
                  class="mb-2 inline-block rounded bg-indigo-400 px-3 py-1 text-sm text-black dark:bg-indigo-600 dark:text-white">
                  Summer 2017
                </span>
                <h4 class="text-xl font-medium">Research Internship</h4>
                <p class="text-gray-600 dark:text-gray-400">Texas A&M University, USA</p>
                <!-- <p class="mt-2 text-gray-700 dark:text-gray-300">Lateral Control of Autonomous Vehicle</p> -->
              </div>
            </div>

            <p class="mt-2 text-gray-700 dark:text-gray-300">Graduated with Honouwrs</p>
          </div>
        </div>
      </div>
    </div>

    <div class="md:w-1/2 md:pr-8">
      <h3 class="mb-6 flex items-center text-2xl font-semibold">
        <i class="fas fa-briefcase mr-2 text-indigo-500"></i>
        &nbsp;&nbsp;Experience
      </h3>

      <div class="pl-3">
        <div id="timeline-item" class="relative border-l-2 border-indigo-500 pb-8 pl-8">
          <div class="absolute top-0 -left-3 h-6 w-6 rounded-full bg-indigo-500"></div>
          <div class="mb-4">
            <span
              class="mb-2 inline-block rounded bg-indigo-400 px-3 py-1 text-sm text-black dark:bg-indigo-600 dark:text-white">
              2022 - Present
            </span>
            <h4 class="text-xl font-medium">Senior Researcher</h4>
            <p class="text-gray-600 dark:text-gray-400">Tata Consultancy Services Research, India</p>
            <p class="mt-2 text-gray-700 dark:text-gray-300">
              Leading development of an omni-directional robot and 5G-integrated teleoperation system for manufacturing,
              with full ROS2 migration and CI deployment.
            </p>
          </div>
        </div>

        <div id="timeline-item" class="relative border-l-2 border-indigo-500 pl-8">
          <div class="absolute top-0 -left-3 h-6 w-6 rounded-full bg-indigo-500"></div>
          <div>
            <span
              class="mb-2 inline-block rounded bg-indigo-400 px-3 py-1 text-sm text-black dark:bg-indigo-600 dark:text-white">
              2018 - 2022
            </span>
            <h4 class="text-xl font-medium">Resercher</h4>
            <p class="text-gray-600 dark:text-gray-400">Tata Consultancy Services Research, India</p>
            <p class="mt-2 text-gray-700 dark:text-gray-300">
              Developed high-fidelity robotics simulations and led international robotics challenges, including ANA
              Avatar XPRIZE and MBZIRC 2020.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
