<div id="top-sentinel" class="h-[1px]"></div>

<nav
  id="navbar"
  class="fixed top-0 left-0 z-50 flex w-full items-center justify-between bg-transparent px-6 py-4 backdrop-blur-sm">
  <a href="#" id="header-name" class="text-foreground flex items-center text-2xl font-bold">
    <span class="from-accent-2 to-accent-0 bg-gradient-to-r bg-clip-text text-transparent">Vismay Vakharia</span>
  </a>

  <div class="flex items-center space-x-6">
    <div class="hidden space-x-8 md:flex">
      <a href="#about" class="text-foreground-muted hover:text-foreground transition-colors">About</a>
      <a href="#skills" class="text-foreground-muted hover:text-foreground transition-colors">Skills</a>
      <a href="#education-experience" class="text-foreground-muted hover:text-foreground transition-colors">Timeline</a>
      <a href="#projects" class="text-foreground-muted hover:text-foreground transition-colors">Projects</a>
      <a href="#publications" class="text-foreground-muted hover:text-foreground transition-colors">Publications</a>
      <a href="#contact" class="text-foreground-muted hover:text-foreground transition-colors">Contact</a>
    </div>

    <div id="color-picker" class="hidden lg:block"></div>

    <button id="mobile-menu-button" class="text-foreground focus:outline-none md:hidden">
      <i class="fas fa-bars text-2xl"></i>
    </button>
  </div>
</nav>

<div id="menu-overlay" class="fixed inset-0 z-40 hidden bg-black/50"></div>

<div
  id="mobile-menu"
  class="bg-background fixed top-16 right-0 z-50 w-full origin-top scale-y-0 transform rounded-b-lg text-center shadow-lg transition-transform duration-300 md:hidden">
  <div class="flex flex-col divide-y divide-gray-700 pr-4 pl-4">
    <a
      href="#about"
      class="text-foreground-muted hover:bg-background-muted hover:text-foreground rounded py-4 transition-colors">
      About
    </a>
    <a
      href="#skills"
      class="text-foreground-muted hover:bg-background-muted hover:text-foreground rounded py-4 transition-colors">
      Skills
    </a>
    <a
      href="#education-experience"
      class="text-foreground-muted hover:bg-background-muted hover:text-foreground rounded py-4 transition-colors">
      Timeline
    </a>
    <a
      href="#projects"
      class="text-foreground-muted hover:bg-background-muted hover:text-foreground rounded py-4 transition-colors">
      Projects
    </a>
    <a
      href="#publications"
      class="text-foreground-muted hover:bg-background-muted hover:text-foreground rounded py-4 transition-colors">
      Publications
    </a>
    <a
      href="#contact"
      class="text-foreground-muted hover:bg-background-muted hover:text-foreground rounded py-4 transition-colors">
      Contact
    </a>
  </div>
</div>
