<div
  class="card group hover:ring-accent-0/50 bg-background-muted transform overflow-hidden rounded-lg shadow-lg transition-transform hover:scale-105 hover:shadow-2xl hover:ring-2">
  <div class="relative h-48 overflow-hidden">
    <img src="" alt="" class="image h-full w-full object-cover" />
    <div class="from-background/80 absolute inset-0 bg-gradient-to-t to-transparent"></div>
    <div class="absolute bottom-0 left-0 w-full p-4">
      <h3 class="title text-lg font-bold sm:text-xl"></h3>
      <p class="subtitle text-foreground text-xs sm:text-sm"></p>
    </div>
  </div>
  <div class="p-6">
    <ul class="details text-foreground-muted line-clamp-3 list-disc"></ul>
    <button class="toggle-btn text-accent-0 mb-4 text-sm font-medium hover:underline" data-toggle-btn>Show More</button>
    <div class="tag-list mb-6 flex flex-wrap gap-2 lg:min-h-14"></div>
    <div class="flex justify-between">
      <a href="" class="link text-accent-0 hover:text-accent-0 flex items-center text-sm font-medium">
        <i class="fas fa-link mr-1"></i>
        Live Demo
      </a>
      <a href="" class="github text-accent-0 hover:text-accent-0 flex items-center text-sm font-medium">
        <i class="fab fa-github mr-1"></i>
        Source Code
      </a>
    </div>
  </div>
</div>
