<div
  class="card group transform overflow-hidden rounded-lg bg-gray-200 shadow-lg transition-transform hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-indigo-400/50 dark:bg-gray-800">
  <div class="relative h-48 overflow-hidden">
    <img src="" alt="" class="image h-full w-full object-cover" />
    <div class="absolute inset-0 bg-gradient-to-t from-white/70 to-transparent dark:from-gray-900/80"></div>
    <div class="absolute bottom-0 left-0 w-full p-4">
      <h3 class="title text-lg font-bold sm:text-xl"></h3>
      <p class="subtitle text-xs text-gray-700 sm:text-sm dark:text-gray-300"></p>
    </div>
  </div>
  <div class="p-6">
    <ul class="details line-clamp-3 list-disc text-gray-700 dark:text-gray-300"></ul>
    <button
      class="toggle-btn mb-4 text-sm font-medium text-indigo-600 hover:underline dark:text-indigo-400"
      data-toggle-btn>
      Show More
    </button>
    <div class="tag-list mb-6 flex flex-wrap gap-2 lg:min-h-14"></div>
    <div class="flex justify-between">
      <a
        href=""
        class="link flex items-center text-sm font-medium text-indigo-600 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-300">
        <i class="fas fa-link mr-1"></i>
        Live Demo
      </a>
      <a
        href=""
        class="github flex items-center text-sm font-medium text-indigo-600 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-300">
        <i class="fab fa-github mr-1"></i>
        Source Code
      </a>
    </div>
  </div>
</div>
