<div
  class="card group transform rounded-lg bg-gray-200/40 p-6 shadow-lg transition-transform hover:scale-105 hover:shadow-2xl hover:ring-2 hover:ring-indigo-400/50 dark:bg-gray-800/40">
  <div class="flex items-start">
    <div class="mr-4 rounded-lg bg-indigo-400 p-3 text-black dark:bg-indigo-600 dark:text-white">
      <i class="fas fa-file-alt text-2xl"></i>
    </div>
    <div>
      <h3 class="title mb-2 min-h-20 text-xl font-semibold"></h3>
      <p class="mb-3 min-h-13 text-gray-600 dark:text-gray-400">
        <span class="conference -mr-1"></span>
        ,
        <span class="year"></span>
      </p>
      <div class="flex space-x-4">
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="file flex items-center text-sm font-medium text-indigo-600 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-300">
          <i class="fas fa-external-link-alt mr-1"></i>
          Read Paper
        </a>
        <a
          href="javascript:void(0)"
          class="cite flex items-center text-sm font-medium text-indigo-600 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-300">
          <i class="fas fa-quote-right mr-1"></i>
          Cite
        </a>
        <a
          href=""
          target="_blank"
          rel="noopener noreferrer"
          class="doi flex items-center text-sm font-medium text-indigo-600 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-300">
          <i class="fas fa-link mr-1"></i>
          DOI
        </a>
      </div>
    </div>
  </div>
</div>
